# Sets
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Pythonâ€™s set class represents the mathematical notion of a set. The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. This is based on a data structure known as a hash table.

<a id='l1'></a>
### 1. Declaration

In [1]:
a = set()       #empty set
b = {1,2,3,4,5} # non-empty set
                # OR
c = set([1,2,3,4,5])

[Go to summary](#summary)

<a id='l2'></a>
### 2. Add elements

<a id='l2.1'></a>
#### 2.1 add single element

In [2]:
a =  set()
a.add(1)
a

{1}

[Go to summary](#summary)

<a id='l2.2'></a>
#### 2.2 add multiple elements

In [3]:
a =  set()
a.update([2,3]) # for adding multiple elements
a

{2, 3}

[Go to summary](#summary)

<a id='l3'></a>
### 3. pop element

In [4]:
a = {1,2,3,4,5}
a.pop() # it will pop element from start
a

{2, 3, 4, 5}

[Go to summary](#summary)

<a id='l4'></a>
### 4- Remove element from a set

In [5]:
a = {0,1,2,3,4,5}
if 1 in a:
    a.remove(1)
                   # OR
a = set([i for i in range(0,6) if i != 1])
                   #OR
a = {0,1,2,3,4,5}
a.discard(1)
a
# 3 me se koi bhi use karlo

{0, 2, 3, 4, 5}

[Go to summary](#summary)

<a id='l5'></a>
### 5- Length of a set

In [6]:
a = {1,2,3,4,5,6,7,8,9}
len(a)

9

[Go to summary](#summary)

<a id='l6'></a>
### 6- min or max value in a set

In [7]:
a = {7,2,4,9,1,2}
print(max(a))
print(min(a))

9
1

[Go to summary](#summary)

<a id='l7'></a>
### 7- Intersection of a set

In [8]:
x = {3,4,5,6,7}
y = {2,4,6,8}
intersection = x & y
intersection

{4, 6}

[Go to summary](#summary)

<a id='l8'></a>
### 8- Union of a set

In [9]:
x = {3,4,5,6,7}
y = {2,4,6,8}
union = x | y
union

{2, 3, 4, 5, 6, 7, 8}

[Go to summary](#summary)

<a id='l9'></a>
### 9- Set difference

In [10]:
x = {3,4,5,6,7}
y = {2,4,6,8}
z = x & y
difference = x - z
difference

{3, 5, 7}

[Go to summary](#summary)

<a id='l10'></a>
### 10- Symmetric difference

In [11]:
x = {3,4,5,6,7}
y = {2,4,6,8}
symmetric_difference = x ^ y # ignone same elements in both set and give unique element in both set
symmetric_difference

{2, 3, 5, 7, 8}

[Go to summary](#summary)

<a id='l11'></a>
### 11- Finding subset or superset

In [12]:
x = {3,4,5,6,7}
y = {3,4,6}
if x <= y:
    print("x is subset and y is super set")

elif y <= x:
    print("y is subset and x is super set")
    
# superset: Bara set
# subset: Bare me se liya gaya chota set

y is subset and x is super set

[Go to summary](#summary)

<a id='l12'></a>
### 12- Clear/ Empty a set

In [13]:
a = {1,2,3,4,5}
a.clear()
a

set()

<a id='summary'></a>
# Summary

[1. Declaration](#l1)<br>
[2. Add elements](#l2)<br>
>[2.1 add single element](#l2.1)<br>
[2.2 add multiple elements](#l2.2)

[3. pop element](#l3)<br>
[4. remove element](#l4)<br>
[5.length of a set](#l5)<br>
[6. min or max value in a set](#l6)<br>
[7. Intersection of a set](#l7)<br>
[8. Union of a set](#l8)<br>
[9. set difference](#l9)<br>
[10. Symmetric difference](#l10)<br>
[11. Finding subset or superset](#l11)<br>
[12. clear/ empty a set](#l12)